@model ReflectionIT.Mvc.Paging.PagingList<CRUD.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<form method="get" class="form-inline">
    <div class="row">
        <div class="col-md-6" style="padding-right:0;">
            <input name="filter" class="form-control" placeholder="Filtrar pelo Nome"
                   value="@Model.RouteValue["Filter"]" />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>&nbsp;Procurar
            </button>
        </div>
    </div>
</form>

Total de Pessoas : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Adicionar nova Pessoa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a> |
                    @* <a asp-action="Details" asp-route-id="@item.PessoaId">Detalhes</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.PessoaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>